body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.products-container {
  width: 70%;
  margin-bottom: 20px;
}

.product {
  background-color: #4F4F4F;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.product img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  margin-right: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info p {
  margin: 5px 0;
}

#cart {
  width: 70%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#checkout {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#checkout:hover {
  background-color: #218838;
}


.remove-btn, .delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.agregarAlCarrito{
  padding: 2px 4px;
  border-radius: 5px;
  background-color: #A5A5A5;
  color: #8A821C;
}

.orders-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Define columnas automáticas con un ancho mínimo de 300px */
  gap: 20px; /* Espacio entre elementos de la grilla */
}

.order {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 5px;
}

.order-info {
  margin-bottom: 10px;
}

.order-info p {
  margin: 5px 0;
}

.order-items {
  margin-top: 10px;
}

.order-item {
  margin-bottom: 5px;
}

.edit-btn {
  display: block;
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}